.switch.switch-3d {
    margin-bottom: 0px;
}

.table th.checkbox, .table td.checkbox {
    width: 25px;
}

.items .active {
    width: 50px;
}

.items .actions {
    width: 120px;
}

.categories .order {
    width: 50px;
}

.categories .actions {
    width: 200px;
}

.users .active {
    width: 50px;
}

.users .actions {
    width: 120px;
}